# Dependency directories
node_modules
client/node_modules
server/node_modules

# Build output (The heavy app files)
dist
client/build

# Temporary processing folders (The heavy media files)
server/uploads
server/converted
server/sessions

# Secrets & Login Data (CRITICAL)
server/tokens.json
tokens.json
server/.env    <-- THIS IS THE NEW LINE\

# Security
src/config/secrets.js

# System files
.DS_Store