# Dependency directories
node_modules
client/node_modules
server/node_modules

# Build output (The heavy app files)
dist
client/build

# Temporary processing folders (The heavy media files)
server/uploads
server/converted
server/sessions
server/tokens.json

# System files
.DS_Store
.env